#container {
    display: flex;
    flex-direction: column;
}
#navBar {
    font-family: KalamRegular;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    text-align: center;
    margin: auto;
    background-color: blueviolet;
    width: 100%;
    height: 100%;
    position: sticky;
    z-index:1 ;
}
.home{
    font-family: KalamRegular;
    display: flex;
    flex-direction: column;
    background-image: url("/assets/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}