#item {
    display: flex;
    font-family: KalamRegular;
    width:100%;
    background-color: rgb(138, 44, 226);
    overflow: hidden;
}

#page-wrap {
  text-align: center;
  overflow: auto;
  top: 45%;
  position: relative;
}

.bm-item {
  display: flex;
  font-family: KalamRegular;
  /* Our sidebar item styling */
  text-decoration: none;
  margin-bottom: 10px;
  color: #d1d1d1;
  transition: color 0.2s;
}

.bm-item:hover {
  color: white;
}

.bm-burger-button {
  position: absolute;
  width: 36px;
  height: 30px;
  right: 20px;
  top: 20px;
}

/* Color/shape of burger icon bars */

.bm-burger-bars {
  background: #080808;
}

/* Position and sizing of clickable cross button */

.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */

.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */

.bm-menu {
  background: rgb(138, 44, 226);;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */

.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */

.bm-item-list {
  color: #b8b7ad;
}

/* Styling of overlay */

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.navbar {
  padding: 15px;
  text-decoration: none;
  font-size: 16px;
  color: white;
}

.navbar:hover {
  background-color: whitesmoke;
  color: black;
}

.button {
  background-color: inherit;
}

@media screen and (min-width: 500px) {
  .bm-burger-button {
    display: block;
    visibility: hidden;
   
  }
}
  @media screen and (max-width: 500px){
    #item{
      display: block;
      visibility: hidden;
    }
  }
